# Copiez ce fichier en terraform.tfvars et adaptez les valeurs
# NE COMMITTEZ JAMAIS terraform.tfvars (secrets) dans un dépôt Git public.

resource_group_name = "RG-Lab-WireGuard"
location             = "norwayeast"
vm_size              = "Standard_B2s"

admin_username = "wgadmin"
admin_password = "ChangeMe-StrongPassword!2026"   # a remplacer imperativement

use_ssh_key    = false
ssh_public_key = ""   # requis si use_ssh_key = true, ex: contenu de ~/.ssh/id_ed25519.pub

dns_label_prefix = "blockhash-wg-lab"

admin_source_ip            = "203.0.113.10/32"   # votre IP publique -> whatismyipaddress.com
wireguard_client_source_ip = "*"

wireguard_port = 51820
dashboard_port = 8080
